<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="/user/base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Edit Notes</title>
</head>
<body>
<body>
	<section>
		<div class="container-fluid p-3">
			<div class="col-md-10 offset-md-1">
				<div class="card paint-card">
					<h3 class="text-center">Edit Notes</h3>
					
					<!-- <div th:if="${session.msg}" class="text-center" role="alert">
						<h4 class="text-success" th:text="${session.msg}"></h4>
					</div> -->
					
					<div class="card-body">
						<form th:action="@{/user/updateNotes}" method="post">
							<div class="form-group">
								<label>Enter Title</label> 
								<input type="text" th:value = "${notes.title}" class="form-control" name="title"> <!-- don't have to give the value after the input -->
							</div>
							<div class="form-group">
								<label>Enter Description</label> <!-- have to give the value after the textarea -->
								<textarea rows="12" th:value = "${notes.description}" cols="" name="description" class="form-control">[[${notes.description}]]</textarea>
							</div>
							<input type="hidden" th:value="${notes.id}" name= "id"> <!-- for the update notes controller to get the note id -->
							<div class="text-center">
								<br>
								<button class="btn btn-primary">Update</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>