<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="user/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>View</title>
</head>
<body>
	<section>
		<div class="container">
			<h3 class="text-center">Notes</h3>
			
			<!--  for after edit and delete msg 
			 <div th:if="${session.msg}" class="text-center" role="alert">  
				<h4 th:text="${session.msg}"></h4>
			  <th:block th:text="${#session.removeAttribute('msg')}"></th:block> 
			</div>  -->
			

			<div class="col-md-12 mt-3" th:each="n:${Notes}"> 
				<div class="card paint-card">
					<div class="card-body">
						<div class="text-center">
							<img alt="" th:src="@{/img/note-taking.png}"
								style="width: 70px; height: 75px;">
						</div>

						<h5>[[${n.title}]]</h5>
						<p>
							[[${n.description}]] <br> <br> 
							<span class="font-weight-bold">Upload Date :</span> [[${n.updatedDate}]]

						</p>
						<div class="text-center">
							<a th:href="@{'/user/editNotes/' + ${n.id}}" class="btn btn-primary btn-sm">Edit</a>
							
							 <a
								th:href="@{'/user/deleteNotes/' + ${n.id}}" class="btn btn-danger btn-sm ml-2">Delete</a>
						</div>
					</div>
				</div>
			</div>

		<!-- pagination from bootstrap and total notes count -->
		
		<div class="pd-4 mt-4 d-flex justify-content-between">
		<div class="pt-2">Total Notes: [[${totalElements}]]</div>
		<div>
			<nav aria-label="Page navigation example">
			  <ul class="pagination">
			    <li th:classappend = "${pageNo==0}? 'disabled' : ''" class="page-item"> <!-- disable prev button if only one page present -- to avoid null error -->
			      <a th:href = "@{'/user/viewNotes/' + ${pageNo-1}}" class="page-link" href="#" aria-label="Previous"> <!-- on clicking the pr3ev button, moves to the prev page -->
			        <span aria-hidden="true">&laquo;</span>
			        <span class="sr-only">Previous</span>
			      </a>
			    </li>
			    
			    
			    <!-- Dynamically loads pagination numbers -->
			    <li th:each="i:${#numbers.sequence(1,totalPages)}" class="page-item" th:classappend="${pageNo+1==i}?'active':''"> 
			    <!-- to make the current page number blue -->
			    
			    <!-- page numbers start from 0 - this is linking the numbers to respective pages -->
			    	<a th:href="@{'/user/viewNotes/' + ${i-1}}" class="page-link" href="#"> 
			    		[[${i}]] 	
			    	</a>
			    </li>
			    
			    
			    <li th:classappend = "${pageNo==totalPages-1}? 'disabled':''" class="page-item">
			      <a th:href = "@{'/user/viewNotes/' + ${pageNo+1}}" class="page-link" href="#" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			        <span class="sr-only">Next</span>
			      </a>
			    </li>
			  </ul>
			</nav>
		</div>
		</div>

		</div>

	</section>
</body>
</html>