<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
<style type="text/css">
	.name{
		font-family: 'Dela Gothic One', cursive;
	}
</style>
<title>Insert title here</title>
</head>
<body>

	<section>
		<div class="backimg">
			<br><br><br><br><br><br><br><br><br><br>
			<div class="text-white text-center mt-4">
				<h1 class="name" style="font-size: 100px;">NoteVault</h1>
				<p class="name" style="font-size: 30px;">Capture ideas on the fly, never miss a beat.</p>
				<!--  <button class="btn bg-primary text-white">Get Started</button>  -->
			</div>
		</div>
	</section>

</body>
</html>